<section class="context">
  <div class="container">
    <div class="context-col">
      <h3>{{ translationService.getTranslations().context.landOfTuva.title }}</h3>
      <p>
        {{ translationService.getTranslations().context.landOfTuva.description }}
      </p>
    </div>

    <div class="context-col">
      <h3>{{ translationService.getTranslations().context.livingTradition.title }}</h3>
      <p>
        {{ translationService.getTranslations().context.livingTradition.description }}
      </p>
    </div>

    <div class="context-col highlight">
      <h3>{{ translationService.getTranslations().context.projectMission.title }}</h3>
      <p>
        {{ translationService.getTranslations().context.projectMission.description }}
      </p>
    </div>
  </div>
</section>
