.context {
  padding: 80px 20px;
  background-color: var(--color-dark-bg-alt);

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .context-col {
    padding: 20px;
    border-left: 1px solid var(--color-border-dark);

    h3 {
      font-size: 1.5rem;
      color: var(--color-white);
      margin-bottom: 20px;
      position: relative;
    }

    p {
      color: var(--color-text-dim);
      line-height: 1.6;
      font-size: 1rem;
    }

    &.highlight {
      background: rgba(226, 183, 20, 0.05);
      border-left: 4px solid var(--color-gold);

      h3 {
        color: var(--color-gold);
      }
      p {
        color: #ddd;
      }
    }
  }

  @media (max-width: 900px) {
    padding: 20px 20px;

    .container {
      grid-template-columns: 1fr;
    }

    .context-col {
      h3 {
        font-size: 1.1rem;
      }

      p {
        line-height: 1.6;
        font-size: 0.7rem;
      }
    }
  }
}
