<header class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1 class="title" [innerHTML]="translationService.getTranslations().home.title"></h1>
    <p class="subtitle">{{ translationService.getTranslations().home.subtitle }}</p>

    <a routerLink="/shaman" class="cta-button">{{ translationService.getTranslations().home.ctaButton }}</a>

    <div class="credits">{{ translationService.getTranslations().home.credits }}</div>
  </div>
</header>

<app-about-author></app-about-author>

<app-context></app-context>

<app-sources></app-sources>
<footer>
  <div class="footer-content">
    <div class="student-info">
      <p class="name">{{ translationService.getTranslations().home.footer.createdBy }} <strong>{{ translationService.getTranslations().home.footer.name }}</strong></p>
      <p class="uni">{{ translationService.getTranslations().home.footer.university }}</p>
      <p class="email">{{ translationService.getTranslations().home.footer.email }}</p>
      <p class="course">{{ translationService.getTranslations().home.footer.course }}</p>
    </div>
    <div class="copyright">
      {{ translationService.getTranslations().home.footer.copyright }}
    </div>
  </div>
</footer>
