<section class="about">
  <div class="container">
    <div class="text-block">
      <h2>{{ translationService.getTranslations().aboutAuthor.title }}</h2>
      <h3>{{ translationService.getTranslations().aboutAuthor.years }}</h3>
      <p>
        {{ translationService.getTranslations().aboutAuthor.description1 }}
      </p>
      <p>
        {{ translationService.getTranslations().aboutAuthor.description2 }}
      </p>
      <p class="quote">
        {{ translationService.getTranslations().aboutAuthor.quote }}
      </p>
    </div>
    <div class="image-block">
      <img src="img/kenin-lopsan.jpg" alt="Mongush Kenin-Lopsan" />
      <span class="caption">{{ translationService.getTranslations().aboutAuthor.imageCaption }}</span>
    </div>
  </div>
</section>
